<div style= "padding-left : 550px">

<div class="card" style="width: 18rem;">
  <div class="card" style="max-width: 18rem;">
  <div class="card-body">
<div id= "in">
<h1 class="shadow p-3 mb-5 bg-white rounded">
{{employee.title}}
</h1>

<h4 class="shadow p-3 mb-5 bg-white rounded rounded-pill">Name: {{getFullName()}}</h4> 
</div>

<div class="shadow p-3 mb-5 bg-white rounded "> Weekly pay : {{calculateWeeklyPay()|currency }}</div>

<app-employees-detail [employee]="employee"
></app-employees-detail>

<div class="shadow p-3 mb-5 bg-white rounded rounded-pill">

<h6>Age : {{employee.age}}</h6>

<h6>Address : {{employee.address}}</h6>

<h6>Telephone : {{employee.telephone}}</h6>

</div>

</div>








