
#in {
  background-color: turquoise;
  padding: 3px;
  filter: opacity(80%);
  text-align:center;
}

h6 {
  color: rgba(53, 158, 142, 0.639);
}

#around {
 
  content: "";
  background-image: <img src="" class="img-fluid" alt="Responsive image">;

}





